{% extends 'base.html.twig' %}
{% block content %}
    <div class="home-container">
        <div class="row">
            <div class="column" style=";">
                <h1>L'HYDRE AUX MILLES TÊTES</h1>
            </div>
            <div class="column column-content" style="">
                <h2> librairie l'hydre aux milles têtes <br>
                    96 rue saint Savournin <br> 13001 Marseille <br>
                    ouverte du mardi au samedi de 10h à 20h </h2>
                <div class="btn-column">
                    <a href="{{ path('shop') }}" class="button"> E-Shop </a>
                    <a href="" class="button"> Event </a>
                </div>
            </div>
        </div>
        <div class="hero-image">
            <div class="hero-text">
            </div>
        </div>
        <div class="row">
            <div class="column column-content" style="">
                <h2> PRESENTATION </h2>
                <p> La librairie de L’hydre aux mille têtes se situe au cœur du quartier de la plaine à Marseille.
                    C’est une SCOP ouverte depuis peu. La librairie indépendante met les sciences humaines à l’honneur
                    et fait la place
                    belle aux rencontres et aux échanges à travers les nombreux événements organisés entre ses murs, mis
                    en forme par le
                    collectif d'architectes ETC. La librairie propose plus de 500 références et fait propose des
                    ouvrages autoédités, à
                    petit tirage, un rayon jeunesse. C’est la seule librairie du quartier, après que la librairie de
                    L’arbre et du Lièvre
                    de Mars ne ferment dans le quartier.

                </p>
                <a href="{{ path('about-us') }}" class="learn-more"> En savoir plus <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <div class="column column-content" style="">
                <img src="https://1.bp.blogspot.com/-DSIUyDvX6LI/W7YCcRs7dCI/AAAAAAAAFVg/cKh82Dsb2wQlf0m-HMU08ALcrWml8y3LACLcBGAs/s1600/hydre%2B-%2B1%2B%25282%2529.jpg"/>
            </div>
        </div>
        <div class="row center">
            <div class=" violet-column">
                <a href="{{ path('shop') }}" color="white !important;"><h1> TROUVER UN LIVRE </h1></a>
            </div>
        </div>
        <div class="row">
            <div class="column column-content" style="">
                <img src="https://fotokino.org/wp-content/uploads/2020/04/Exposition-de-Cristina-Daura-a-l-hydre-aux-mille-tetes-scaled.jpg"/>
            </div>
            <div class="column column-content" style="">
                <h2> EVENEMENTS </h2>
                <p> La librairie organise de nombreux événéments. Nous avons eu la chance d'accueillir des expositions
                    temporaires, vous pouvez venir aux vernissages et découvrir les oeuvres.
                    Nous mettons également à disposition notre salle pour des associations qui voudraient présenter leur
                    objets. Vous pouvez vous inscrire pour les prochains événéments.
                    N'hésitez pas à venir découvrir les pépites que nous avons sélectionné pour vous tout au long de
                    l'année. Nous restons ouvert malgré les restrictions sanitaires.
                </p>
                <a href="{{ path('about-us') }}" class="learn-more"> En savoir plus <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="container-new">
            <h1> NOS SELECTIONS </h1>
            <h2> Nous avons sélectionné pour vous ce mois-ci </h2>
            <div class="row2">
                <div class="column2"
                / > <a href=""/> LITTERATURE </a></div>
            <div class="column2"
            / > <a href=""/> JEUNESSE</a></div>
        <div class="column2"
        / > <a href=""/> SCIENCES SOCIALES</a></div>
    <div class="column2" / >  <a href=""/> HISTOIRE </a></div>
    </div>
    </div>
    </div>
    <div>
        <p> quis quam finibus, nec commodo mauris congue. Morbi fringilla et mi quis feugiat. Morbi ex sapien, ornare
            eget pellentesque non, dictum vitae tellus. Curabitur consectetur ligula non massa volutpat malesuada. Nunc
            sagittis imperdiet purus a maximus. Quisque ornare ac lorem quis ullamcorper. Curabitur auctor eros i.


    </div>
{% endblock %}