/* FOOTER */


footer {
    background-color: #310251;
    min-width: 400px;
    width: 100%;
    text-align: center;
    line-height: 35px;
    color: white;
    position: fixed;
    bottom: 0;
}


footer a {
    color: white;
}

span#site-credit a {
    color: white;
    font-size: 75%;
}

span#site-credit a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 480px) {
    .footer-bottom-copyright-text {
        font-size: 80%;
    }

    .footer-bottom-social-icons {
        font-size: 80%;
    }
}

@media only screen and (max-width: 960px) {
    .footer-bottom {
        text-align: center;
    }

    .footer-bottom-copyright-text {
        width: 100%;
    }

    .footer-bottom-social-icons {
        background-color: #310251;
    }

    .footer-bottom-site-credit {
        padding-right: 0px;
    }

    #footer-social-links li {
        list-style: none;
        display: inline-block;
        padding: 0px 10px;
    }
}

@media only screen and (min-width: 961px) {
    .footer-bottom {
        text-align: left;
    }

    .footer-bottom-copyright-text {
        max-width: 480px;
        float: left;
        padding: 10px 10px 0px 10px;
        line-height: 60px;
        height: 60px;
    }

    .footer-bottom-social-icons {
        background-color: #310251;
        text-align: right;
        padding: 0px 10px;
    }

    #footer-social-links li {
        list-style: none;
        display: inline-block;
        padding: 15px 10px 0px 10px;
    }
}


/* HEADER */


.nav {
    height: 50px;
    width: 100%;
    background-color: #310251;

    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > .nav-links > a:hover {
    opacity: 0.7;
}


.nav > #nav-check {
    display: none;
}

@media (max-width: 600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: black;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}