{% extends 'base.html.twig' %}

{% block title %}A propos de nous !{% endblock %}

{% block content %}

<center><h1 class="titre"> A propos de nous </h1></center>
<div class="container-about-us">

<div class="row">
   <div class="column column-content" style="">
      <h2> NOTRE HISTOIRE </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in orci ut mauris pulvinar tempus efficitur vel tortor. Donec mollis velit ac rutrum porta. Donec ornare sapien dui. Donec nunc sem, maximus vel lacus ut, faucibus pellentesque urna. Phasellus et nibh in purus gravida interdum sit amet vitae augue. Donec hendrerit magna quis quam finibus, nec commodo mauris congue. Morbi fringilla et mi quis feugiat. Morbi ex sapien, ornare eget pellentesque non, dictum vitae tellus. Curabitur consectetur ligula non massa volutpat malesuada. Nunc sagittis imperdiet purus a maximus. Quisque ornare ac lorem quis ullamcorper. Curabitur auctor eros in ligula congue tincidunt.
      </p>
      </a>
   </div>
   <div class="column column-content" style="">
      <img src="https://1.bp.blogspot.com/-DSIUyDvX6LI/W7YCcRs7dCI/AAAAAAAAFVg/cKh82Dsb2wQlf0m-HMU08ALcrWml8y3LACLcBGAs/s1600/hydre%2B-%2B1%2B%25282%2529.jpg"  />
   </div>
</div>
<div class="team">
<h2> L'équipe </h2>

<div class="team-person">
<div class="card">
<img src="{{ asset('assets/picture/portrait1.jpeg') }} " alt="" />
<p>    gittis imperdiet purus a maximus. Quisque ornare ac lorem quis ullamcorper. Curabitur auctor eros in ligula congue tincidunt. </p>
</div>
<div class="card">
<img src="{{ asset('assets/picture/portrait2.jpeg') }} " alt="" />
<p> Personne 1 </p>
</div>
<div class="card">
<img src="{{ asset('assets/picture/portrait3.jpeg') }} " alt="" />
<p> Personne 1 </p>
</div>


</div>

</div>

</div>
{% endblock %}
