{% extends 'base.html.twig' %}

{% block title %}Page n'existe pas{% endblock %}

{% block content %}
<hr>

<h1> Cette page n'existe pas </h1>

<hr>

<a href="{{path('home')}}"> retour <a/>

{% endblock %}
